.inputtext {
  width: 550px;
  margin-bottom:10px;
  font-size:15px;
}

.inputemail{
  width: 550px;
  margin-bottom:10px;
  font-size:15px;
}

.inputmessage{
  width: 550px;
  margin-bottom:10px;
  resize: none;
  font-size:15px;
}

.inputsubmit{
  width: 350px;
  margin-bottom:10px;
  font-size:15px;
}